html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
border-spacing: 0; 
}

body{
	width: 100%;
	font-size: 12pt;
	display: flex;
	flex-wrap: wrap;
	background-color: #EEEEEE;
	background-image:url('img/background.gif');
}

h1{
	font-weight: bold;
	font-size: 3rem;
}

.body{
	width: 80%;
	margin: auto;
	min-height: 50em;
	background-image: url('img/cover.jpg');
	background-size: 100%;
	background-position: top;
	border-radius: 50px;
	margin-bottom: 1em;
	padding-top: 1em;
}

.tweet{
	width: 70%;
	border-radius: 20px;
	padding: 1em;
	color: black;
	margin: auto;
	margin-bottom: 1em;
	text-align: justify;
	background-image: url('img/tweet.jpg');
	padding: 1em;
	background-size: cover;
	border: 5px inset black;
}

footer{
	background-color: deeppink;
	margin: auto;
	width:75%;
	display: flex;
	height: 50px;
	border-radius: 20px 20px 0 0;
}

footer p{
	margin: auto;
}

header{
	background-color: #EEEEEE;
	background-image: url('img/banniere.gif');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1em;
	margin: auto;	
	text-align: center;
	margin: auto;
	height: 150px;
	margin-bottom: 1em;
	width: 50%;
	border-radius: 0 0 20px 20px;
	color: deeppink;
}

header a:link, a:visited{
	text-decoration: none;
}

header h1{
	color:deeppink;
}

.tweetheader{
	display: flex;
	flex-wrap: wrap;
	padding-bottom:10px;
}

.tweetheader h2{
	text-align: left;
	width: 50%;
	order:1;
}

.tweetbody a:link, a:visited{
	text-decoration: none;
	color: black;
}

.tweetheaderdate{
	text-align: right;
	width:50%;
	order:2;
}

.tweetfooter{
	text-align: right;
	border-top: 1px black solid;
	margin-top: 10px;
	font-size:2em;
}

#userInfo{
	text-align: center;
	margin:2em;
	font-size:1.5em;
}

#userInfo p:first-child{
	font-weight: bold;
}

